@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,900;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Nothing+You+Could+Do|Shadows+Into+Light+Two');

$green: #57c177;
$gray: #fafafa;
$blue: #28abef;
$black: #252525;

$cursiveFont: 'Nothing You Could Do', cursive;
@import "mixins";

body{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: $gray;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
	letter-spacing: 0.15em;
}
h1, .h1{
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
h2, .h2{
	font-weight: 700;
	font-size: 1.5rem;
}
h3, .h3{
	font-weight: 400;
	font-size: 1.5rem;
}
h4, .h4{
	font-weight: 400;
	font-size: 1.2rem;
}
p{
	margin: 0;
}

.wrapper{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.italics{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}

.flex{
	&--wrapper{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
		align-content: center;
	}
	&--item{
		flex-basis: 200px;
		vertical-align: top;
	}
}


:link,
:active,
:visited{
	color: inherit;
}

header{
	position: absolute;
	width: 100%;
	height: 30vh;
	top: 0;
	left: 0;
	display: none;
}

section{
	min-height: 80vh;
	padding: 10vh 10vh;
}

#section{
	&--intro{
		color: #fff;
		position: relative;
	
		// background: $green; /* Old browsers */
		// background: -moz-linear-gradient(180deg, darken($gray, 30) 0%, $gray 60%);
		// background: -webkit-linear-gradient(180deg, darken($gray, 30) 0%, $gray 60%);
		// background: linear-gradient(180deg, darken($gray, 30) 0%, $gray 60%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=darken($gray, 30), endColorstr=$gray,GradientType=1 );
		
		.section__contentWrapper{
			box-sizing: border-box;
			padding: 30vh 10vw 10vh;
			text-align: center;
			position: relative;
			// background-image: url('../img/8.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: inset 0 20vw 60vh rgba($blue, 0.5), inset 0 -40vh 60vh rgba($green, 0.5);
			z-index: 10;

			// &:before, &:after
			// 	{
			// 	z-index: -1;
			// 	position: absolute;
			// 	content: "";
			// 	bottom: 25px;
			// 	left: 10px;
			// 	width: 50%;
			// 	top: 80%;
			// 	max-width:300px;
			// 	background: #777;
			// 	-webkit-box-shadow: 0 35px 20px #777;
			// 	-moz-box-shadow: 0 35px 20px #777;
			// 	box-shadow: 0 35px 20px #777;
			// 	-webkit-transform: rotate(-8deg);
			// 	-moz-transform: rotate(-8deg);
			// 	-o-transform: rotate(-8deg);
			// 	-ms-transform: rotate(-8deg);
			// 	transform: rotate(-8deg);
			// }
			// &:after{
			// 	-webkit-transform: rotate(8deg);
			// 	-moz-transform: rotate(8deg);
			// 	-o-transform: rotate(8deg);
			// 	-ms-transform: rotate(8deg);
			// 	transform: rotate(8deg);
			// 	right: 10px;
			// 	left: auto;
			// }
		}

		.intro__logo{
			width: 35%;
			display: block;
			margin: 0 auto 2vh;
			z-index: 10;
		}
		.intro__subtitle{
			font-size: 3rem;
			margin-bottom: 5vh;
			z-index: 10;
			font-family: $cursiveFont;
		}
		.intro__button{
			background: none;
			color: white;
			// border: 2px solid white;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 2px solid white;
			position: absolute;
			bottom: 10vh;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 auto;
			font-size: 1.5rem;
			padding: 0.5rem 1.5rem;
			z-index: 10;
			font-family: $cursiveFont;
			font-size: 2rem;
		}
		.intro__video{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			z-index: -1;
			opacity: 0.3;
		}
	}

	&--fields,
	&--lists{
		background-color: $gray;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: -5px;
			left: 10vw;
			width: 80vw;
			height: 8px;
			background-color: lighten($black, 30);
		}
	}
}

.section{
	&__contentWrapper{
		width: 100%;
		height: 80vh;
		min-height: 600px;
	}

	&__title{
		font-weight: 700;
		font-size: 3rem;
		position: relative;
		
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 10%;
			height: 10px;
			bottom: -5px;
			left: 0;
			background-blend-mode: darken;
		}

		&:nth-of-type(2n+1):after{
			background-color: $blue;
		}
		&:nth-of-type(2n):after{
			background-color: $green;
		}
	}
}

.field{
	&__overview-container{
		padding-bottom: 3em;
		position: relative;
	}
	&__overview-name{
		font-family: $cursiveFont;
		font-weight: 700;
	}
	&__overview-description{
		
	}
	&__overview-expander{
		border: 3px solid $black;
		font-weight: 700;
		font-size: 1rem;
		background: none;
		padding: 0.5ex 1ex;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.fieldDetails{
	&__wrapper{
		height: 100%;
		overflow: hidden;
	}

	&__list{
		justify-content: space-evenly;
	}

	&__list-element{
		list-style: none;
		padding: 15px 0;
		flex-basis: 20%;
	}

	&__repo-thumbnail{
		border-radius: 50%;
	}
	&__repo-title{

	}
	&__repo-desc{

	}
	&__repo-link{
		font-weight: 700;
		border-bottom: 3px solid $black;
		margin-top: 10px;
		display: inline-block;
		text-decoration: none;

		&:hover{
			border-bottom-color: $green;
		}
	}
}

footer{
	background-color: $gray;
	padding: 5px 0;
	height: 1.5rem;

	//TODO: TO BE REMOVED AFTER FULL DEPLOY
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: none;

	p{
		text-align: center;
		opacity: 0.6;
	}
}


@media only screen and (max-width: 1024px){
	#section{
		&--intro{
			.intro__logo{
				width: 80%;
			}
			.intro__video{
				height: 100%;
				width: auto;
				margin-left: -50%;
			}
		}
	}

	.flex{
		&--wrapper{
		}
		&--item{
		}
	}
	.fieldDetails{
		&__list-element{
			flex-basis: 25%;
		}
	}
}


@media only screen and (max-width: 640px){
	#section{
		&--intro{
			.section__contentWrapper{
				padding-top: 20vh;
				height: 80vh;
			}
		}
		&--fields{

		}
	}
	.section{
		&__contentWrapper{
			height: auto;
		}
	}
	.flex{
		&--wrapper{
		}
		&--item{
			flex-basis: 100%;
		}
	}

	.field{
		&__overview-container{
			margin-bottom: 15px;
			box-sizing: border-box;
		}

		&__overview-description{
			text-align: justify;
		}
	}

	.fieldDetails{
		&__list{
			padding: 0;
		}
		&__list-element{
			flex-basis: 100%;
		}
		&__repo-thumbnail{
			float: right;
			margin-top: 20px;
			max-width: 30%;
		}
	}
}
