$green: #57c177;
$gray: #f0f0f0;
$blue: #489cc8;
$black: #252525;

body{
	// background: $gray;

	font-family: 'Verdana', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: #fff;
}

h1, .h1{
	font-weight: 700;
	font-size: 2rem;
}
h2, .h2{
	font-weight: 700;
	font-size: 1.5rem;
}
h3, .h3{
	font-weight: 400;
	font-size: 1.5rem;
}
h4, .h4{
	font-weight: 400;
	font-size: 1.2rem;
}

.wrapper{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.italics{
	font-style: italic;
}

@import "mixins";

#intro, #services, #experience, #contact{
	top: 0;
	left: 0;
	background: $gray;
}

#intro{
	background: $green;
	color: #fff;
	height: 100vh;
	z-index: 120;

	h2{
		text-align: right;
		padding-top: 10vh;
	}

	.overlay{
		position: fixed;
		z-index: 2;
		background: rgba(87, 193, 119, 0.8);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.flex-container{
			@extend .flex;

		}
	}

	.video {
		position: fixed;
		top: 50%; left: 50%;
		z-index: 1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
	}
}
#services{
	z-index: 115;

	.flex-container{
		@extend .flex;
		width: 100%;

		.flex-item{
			flex-grow: 1;
			margin: 30px;
			text-align: center;
			border-right: 2px solid #bababa;
			@include transition(0.5s, ease-in-out);

			&:hover{
				flex-grow: 2;
				@include transition(0.5s, ease-in-out);
			}
			&:nth-of-type(3){
				border-right: none;
			}
		}
	}
}
#experience{
	z-index: 110;

	.slide{
		text-align: center;

		.year{
			font-size: 2em;
			font-weight: 700;
			margin-bottom: 0.3em;
		}
		.subtitle{
			font-style: italic;
			font-size: 3em;
			margin-top: 0.3em;
		}
		.year_description{
			opacity: 0.8;
			width: 80%;
			max-width: 600px;
			margin: 0 auto;
		}
	}
}
#contact{
	z-index: 105;

	.wrapper{
		background: $black;
		color: #fff;
	}
}
