@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,900;subset=latin-ext');

$green: #57c177;
$gray: #fafafa;
$blue: #28abef;
$black: #252525;

$cursiveFont: 'Nothing You Could Do', cursive;
@import "mixins";

body{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	// background: $gray;
	position: relative;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
	letter-spacing: 0.15em;
}
h1, .h1{
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
h2, .h2{
	font-weight: 700;
	font-size: 1.5rem;
}
h3, .h3{
	font-weight: 400;
	font-size: 1.5rem;
}
h4, .h4{
	font-weight: 400;
	font-size: 1.2rem;
}
p{
	margin: 0;
}

.wrapper{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.italics{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}

.flex{
	&--wrapper{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}
	&--item{
		flex-basis: 200px;
		align-self: flex-end;
	}
}


:link,
:active,
:visited{
	color: inherit;
}

header{
	position: absolute;
	width: 100%;
	height: 20vh;
	top: 0;
	left: 0;
	display: none;
}

section{
	min-height: 60vh;
	padding: 10vh 10vh;
	position: relative;
}
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
}
@import '_pkolawaWaves';

#section{
	&--intro{
		// color: #fff;
		padding: 15vh 10vh;
		position: relative;

		.section__contentWrapper{
			box-sizing: border-box;
			padding: 20vh 10vw 10vh;
			text-align: center;
			position: relative;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			// box-shadow: inset 0 20vw 60vh rgba($blue, 0.5), inset 0 -40vh 60vh rgba($green, 0.5);
			z-index: 10;
		}

		.intro__logo{
			width: 35%;
			display: block;
			margin: 0 auto 30px;
			z-index: 10;
		}
		.intro__subtitle{
			font-size: 2rem;
			margin-bottom: 5vh;
			z-index: 10;
			font-family: $cursiveFont;
		}
		.intro__button{
			background: none;
			border: none;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 auto;
			font-size: 1rem;
			padding: 0.5rem 1.5rem;
			z-index: 10;
			font-size: 1.2rem;
			opacity: 0.5;
		}
		.intro__video{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
			opacity: 0.3;
		}
	}

	&--fields {
		padding: 25vh 10vh 15vh;
	}

	&--coverLetter {
		.coverLetter__miniature {
			width: 40%;
			margin: 20px 0;
			box-shadow: 0 0 5px rgba(0,0,0, 0.6);
			transition: 0.5s ease-in-out;

			&.expanded {
				width: 80%;
				margin: 30px auto;
				transition: 0.5s ease-in-out;
			}

			&:hover{
				cursor: pointer;
				box-shadow: 0 0 10px rgba(0,0,0, 0.8);
				transition: 0.5s linear;
			}
		}
	}

	&--lists{
		position: relative;

		&:before{
			content: '';
			position: absolute;
			top: -2px;
			left: 5vw;
			width: 90vw;
			height: 1px;
			background-color: lighten($black, 30);
		}
	}
}

.section{
	&__contentWrapper{
		width: 100%;
		min-height: 600px;
	}

	&__title{
		font-weight: 700;
		font-size: 3rem;
		position: relative;
		
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 10%;
			height: 10px;
			bottom: -5px;
			left: 0;
			background-blend-mode: darken;
		}

		&:nth-of-type(2n+1):after{
			background-color: $blue;
		}
		&:nth-of-type(2n):after{
			background-color: $green;
		}
	}
}

.field{
	&__overview-container{
		padding-bottom: 3em;
		position: relative;
	}
	&__overview-name{
		font-family: $cursiveFont;
		font-weight: 700;
	}
	&__overview-description{
		
	}
	&__overview-expander{
		border: 3px solid $black;
		font-weight: 700;
		font-size: 1rem;
		background: none;
		padding: 0.5ex 1ex;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.fieldDetails{
	&__wrapper{
		min-height: 100%;
		overflow: hidden;
	}

	&__list{
		justify-content: space-evenly;
	}

	&__list-element{
		list-style: none;
		padding: 15px 0;
		margin: 30px 20px;
		flex-basis: 22%;
		position: relative;
	}

	&__repo-thumbnail{
		width: 150px;
		height: auto;
		margin: 0 calc(50% - 75px);

		&:hover{
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
		}
	}
	&__repo-name{
		letter-spacing: 0.1em;
	}
	&__repo-desc{
		text-align: justify;
		min-height: 8em;
	}
	&__repo-link{
		font-weight: 700;
		border-bottom: 3px solid $black;
		margin-top: 10px;
		display: inline-block;
		text-decoration: none;
		position: absolute;
		right: 0;
		bottom: 0;

		&:hover{
			border-bottom-color: $green;
		}
	}
}

footer{
	padding: 5px 0;
	height: 1.5rem;

	//TODO: TO BE REMOVED AFTER FULL DEPLOY
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: #aaa;

	p{
		text-align: center;
		opacity: 0.6;
	}
}


@media only screen and (max-width: 1024px){
	#section{
		&--intro{
			.intro__logo{
				width: 80%;
			}
			.intro__video{
				height: 100%;
				width: auto;
				margin-left: -50%;
			}
		}
	}

	.flex{
		&--wrapper{
		}
		&--item{
		}
	}
	.fieldDetails{
		&__list{
			padding: 0;
		}
		&__list-element{
			flex-basis: 45%;
		}
	}
}


@media only screen and (max-width: 640px){
	$mobile_section_padding: 2vh;
	
	section{
		padding: $mobile_section_padding $mobile_section_padding $mobile_section_padding*2 $mobile_section_padding;
	}

	#section{
		&--intro{
			.section__contentWrapper{
				padding-top: 40vh;
				height: calc(100vh - #{$mobile_section_padding} - 2rem);
			}

			.intro__subtitle{
				font-size: 0.8rem;
			}

			.intro__button{
				font-size: 1rem;
			}
		}
		&--fields{

		}
	}

	.section{
		&__title{
			width: 80%;
			margin: 0 auto;
		}
	}
	
	.flex{
		&--wrapper{
		}
		&--item{
			flex-basis: 70%;
		}
	}

	.field{
		&__overview-container{
			margin-bottom: 15px;
			box-sizing: border-box;
		}

		&__overview-description{
			text-align: justify;
		}
	}

	.fieldDetails{
		&__list{
			padding: 0;
		}
		&__list-element{
			flex-basis: 70%;
		}
		&__repo-desc{
			min-height: unset;
			padding-bottom: 0.5em;
		}
		&__repo-link{
			bottom: -0.5em;
		}
		&__repo-thumbnail{
			margin-top: 20px;
			max-width: 60%;
		}
	}

	footer{
	}
}
