@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,900;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Nothing+You+Could+Do|Shadows+Into+Light+Two");
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  letter-spacing: 0.15em;
}

h1, .h1 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

h2, .h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3, .h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

h4, .h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

p {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.flex--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex--item {
  flex-basis: 200px;
}

:link,
:active,
:visited {
  color: inherit;
}

header {
  position: absolute;
  width: 100%;
  height: 30vh;
  top: 0;
  left: 0;
  display: none;
}

section {
  min-height: 80vh;
  padding: 10vh 10vh;
}

#section--intro {
  color: #fff;
  position: relative;
}

#section--intro .section__contentWrapper {
  box-sizing: border-box;
  padding: 30vh 10vw 10vh;
  text-align: center;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 20vw 60vh rgba(40, 171, 239, 0.5), inset 0 -40vh 60vh rgba(87, 193, 119, 0.5);
  z-index: 10;
}

#section--intro .intro__logo {
  width: 35%;
  display: block;
  margin: 0 auto 2vh;
  z-index: 10;
}

#section--intro .intro__subtitle {
  font-size: 3rem;
  margin-bottom: 5vh;
  z-index: 10;
  font-family: "Nothing You Could Do", cursive;
}

#section--intro .intro__button {
  background: none;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  z-index: 10;
  font-family: "Nothing You Could Do", cursive;
  font-size: 2rem;
}

#section--intro .intro__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.3;
}

#section--fields, #section--lists {
  background-color: #fafafa;
  position: relative;
}

#section--fields:before, #section--lists:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 10vw;
  width: 80vw;
  height: 8px;
  background-color: #727171;
}

.section__contentWrapper {
  width: 100%;
  height: 80vh;
  min-height: 600px;
}

.section__title {
  font-weight: 700;
  font-size: 3rem;
  position: relative;
}

.section__title:after {
  content: '';
  display: block;
  position: absolute;
  width: 10%;
  height: 10px;
  bottom: -5px;
  left: 0;
  background-blend-mode: darken;
}

.section__title:nth-of-type(2n+1):after {
  background-color: #28abef;
}

.section__title:nth-of-type(2n):after {
  background-color: #57c177;
}

.field__overview-container {
  padding-bottom: 3em;
  position: relative;
}

.field__overview-name {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 700;
}

.field__overview-expander {
  border: 3px solid #252525;
  font-weight: 700;
  font-size: 1rem;
  background: none;
  padding: 0.5ex 1ex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fieldDetails__wrapper {
  height: 100%;
  overflow: hidden;
}

.fieldDetails__list {
  justify-content: space-evenly;
}

.fieldDetails__list-element {
  list-style: none;
  padding: 15px 0;
  flex-basis: 20%;
}

.fieldDetails__repo-thumbnail {
  border-radius: 50%;
}

.fieldDetails__repo-link {
  font-weight: 700;
  border-bottom: 3px solid #252525;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

.fieldDetails__repo-link:hover {
  border-bottom-color: #57c177;
}

footer {
  background-color: #fafafa;
  padding: 5px 0;
}

footer p {
  text-align: center;
  opacity: 0.6;
}

@media only screen and (max-width: 1024px) {
  #section--intro .intro__logo {
    width: 80%;
  }
  #section--intro .intro__video {
    height: 100%;
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */